@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

#homeicon{
    color: #475569;
    font-size: 2rem;
}
#homeicon:hover{
    color: #60a5fa;
    transition: .3s;
}
#contacticon{
    color: #60a5fa;
    font-size: 1.8rem;
}
#footericon{
    color: #fff;
    font-size: 2rem;
}
#footericon:hover{
    scale: 1.2;
    transition: .3s;
}

@layer utilities {
    .paused {
        animation-play-state: paused;
    }
}